.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #ffcbeb;
    background-color: #fdf7dc;
  }

  body {
    color: #d86392;
    background-color: #d86392;
  }

  .minor-section {
    font-family: Helvetica;
    font-size: 15px;
    color: #ac084c;
    line-height: 1.5;
    background-color: beige;
    border-width: 0px;
  }

  #content {
    background-color: #f4b7d1;
    border-width: 7px;
    border-color: #fffce4;
    border-style: dotted;
  }

.special2 {
    background-color: #7d20ff;
    font-family: 'Times New Roman', Times, serif;
}

.special3 {
    background-color: #ff20a6;
    font-family: 'Times New Roman', Times, serif;
}