.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #ffcbeb;
    background-color: #fdf7dc;
  }

  body {
    color: #ac084c;
    background-color: #d86392;
  }

  .minor-section {
    font-family: Helvetica;
    font-size: 15px;
    color: #ac084c;
    line-height: 1.5;
    background-color: beige;
    border-width: 0px;
  }

  #content {
    background-color: #d4739b;
    border-width: 7px;
    border-color: #fffce4;
    border-style: dotted;
  }

.special {
    background-color: rgb(252, 208, 215);
    font-family: 'Times New Roman', Times, serif;
}