.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #ffcbeb;
    background-color: #fdf7dc;
  }

  body {
    color: #d86392;
    background-color: #d86392;
  }

  .minor-section {
    font-family: Helvetica;
    font-size: 15px;
    color: #ac084c;
    line-height: 1.5;
    background-color: beige;
    border-width: 0px;
  }

  #content {
    background-color: #f4b7d1;
    border-width: 7px;
    border-color: #fffce4;
    border-style: dotted;
  }

  .text p {
    display: inline-block;
    max-width: 60%;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #fffbc5;
    color: white;
    font-family: sans-serif;
    font-size: 0.8em;
  }